<app-header></app-header>
<br>


<div class="content">
    <div class="card">
        <div class="card-header">
            Cancelar Cita Medica
        </div>
        <div class="card-body">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Digite el motivo de consulta..">

            <table id="myTable">
                <tr class="header">
                    <th style="width:60%;">Motivo</th>
                    <th style="width:10%;">Consultorio</th>
                    <th style="width:20%;">Fecha</th>
                    <th style="width:10%;">Accion</th>
                </tr>
                <tr>
                    <td>Dolor De Cabeza</td>
                    <td>01</td>
                    <td>21-jun-2021</td>
                    <td><button type="button" class="btn btn-outline-success"><i class="fa fa-edit"></i></button></td>
                </tr>
                <tr>
                    <td>Neumonia- Dificultad Para Respirar</td>
                    <td>07</td>
                    <td>22-Nov-2021</td>
                    <td><button type="button" class="btn btn-outline-success"><i class="fa fa-edit"></i></button></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<app-footer></app-footer>
