
    <div class="row">
        <div class="col-5">
            <div id="circulo" class="circle sombra"></div>        
        </div>
        <div class="col-7">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sombra" >
            <a class="navbar-brand" href="#" style="color:#094C5D"><b>ControlCitas</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a href="agendarCita"><button type="button" class="btn btn-outline-primary">Agendar Cita</button></a>
                </li>
                <li class="nav-item">
                <a href="consultarCita"><button type="button" class="btn btn-outline-success">Consultar Cita</button></a>
                </li>
                <li class="nav-item">
                <a href="modificarCita"><button type="button" class="btn btn-outline-secondary">Modificar Cita</button></a>
                </li>
                <li class="nav-item">
                <a href="cancelarCita"><button type="button" class="btn btn-outline-danger">Cancelar Cita</button></a>
                </li>
                <li class="nav-item">
                <button type="button" class="btn btn-outline-info">Login</button>
                </li>
            </ul>
            </div>
        </nav>
        </div>
    </div>
