<app-header></app-header>
<br>
<div class="content">
    <div class="card">
        <div class="card-header">
            Agendar Cita Medica
        </div>
        <div class="card-body">

            <form [formGroup]="formGroupCita">
                <div class="row">
                    <div class="col">
                        <label>Nombres</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="col">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" formControlName="apellido">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Tipo Documento</label>
                        <select class="form-control form-control-sm" formControlName="tipodoc">
                            <option>Cedula De Ciudadania</option>
                            <option>Pasaporte</option>
                            <option>Salvoconducto</option>
                            <option>Permiso Especial De Permanencia PEP</option>
                            <option>Permiso Por Proteccion Temporal PPT</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Numero Documento</label>
                        <input type="text" class="form-control" formControlName="documento">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName="email">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con
                            nadie.</small>
                    </div>
                    <div class="col">
                        <label>Direccion</label>
                        <input type="text" class="form-control" formControlName="direccion">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Ciudad</label>
                        <input type="text" class="form-control" formControlName="ciudad">
                    </div>
                    <div class="col">
                        <label>Telefono</label>
                        <input type="text" class="form-control" formControlName="celular">
                    </div>
                </div>


                <div class="form-check">
                    <div class="abs-center">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" formControlName="aceptar" for="exampleCheck1">Acepto la politica
                            de tratamiento de datos
                            personales</label>
                    </div>
                </div>
                <div class="abs-center">
                    <button type="submit" class="btn btn-primary" (clic)="agendarCitas()">Aceptar</button>
                </div>
            </form>

        </div>
    </div>
</div>



<app-footer></app-footer>