<app-header></app-header>
<br>


<div class="content">
    <div class="card">
        <div class="card-header">
            Consultar Cita
        </div>
        <div class="card-body">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Digite el motivo de consulta..">

            <table id="myTable">
                <tr class="header">
                    <th style="width:50%;">Motivo</th>
                    <th style="width:20%;">Consultorio</th>
                    <th style="width:30%;">Fecha</th>
                </tr>
                <tr>
                    <td>Dolor De Cabeza</td>
                    <td>01</td>
                    <td>21-jun-2021</td>
                </tr>
                <tr>
                    <td>Neumonia- Dificultad Para Respirar</td>
                    <td>07</td>
                    <td>22-Nov-2021</td>
                </tr>
            </table>

        </div>
    </div>
</div>


<app-footer></app-footer>
