<div class="footer">
    <footer class="text-center text-white" style="background-color:rgba(9, 76, 93, 0.97);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Desea Afiliarse</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
                Click Aqui!
            </button>
            </p>
        </section>
        <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #094C5D;">
        MisionTIC © 2021 Copyright:
        <a class="text-white">Diseñado Por Grupo2</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

    
