<app-header></app-header>
<br>


<div class="content">
    <div class="card">
        <div class="card-header">
            Cancelar Cita Medica
        </div>
        <div class="card-body">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Digite el motivo de consulta..">

            <table id="myTable">
                <thead>
                    <tr class="header">
                        <th scope="col">#</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Fecha Inicio </th>
                        <th scope="col">Fecha Fin </th>
                        <th scope="col">Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                    <tr *ngFor="let cita of citas; let j = index">
                        <td scope="row">{{j+1}}</td>
                        <td>{{cita.per_identificacion}}</td>
                        <td>{{cita.per_nombre}} {{cita.per_apellido}}</td>
                        <td>{{cita.tbl_consultorio_con_id}}</td>
                        <td>{{cita.cta_fechaInicio}}</td>
                        <td>{{cita.cta_fechaFin}}</td>
                        <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
    </div>
</div>


<app-footer></app-footer>